   body {
      background-image: url("images/bg.png");
      background-repeat: no-repeat;
      background-size: cover;
   }

   .header {
      background-color: aqua;
      text-align: center;
      padding: 2px;
   }

   h1 {
      font-size: 50px;
   }